body {
    margin-top: 30%;
    margin: 155px;
}
li{
    display: flex;
    justify-content: space-between;
}
ul{
    padding: 0;
  
}
.veb1 {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 355px;
    margin: auto;
    min-height: 250px;

}

.hisse {
    background-color: yellow;
    width: 355px;
    height: 20px;
    border-radius: 9px 9px  0 0;
}

.addBtn {
    height: 22px;
    border-radius: 70px;
    background-color: #9953f1 ;
    width: 30%;
    margin: auto;

}

.hisse5 {
    margin-left: 100px;
    margin-bottom: 20px;
}

.hisse2 {
    margin-left: 100px;
    margin-bottom: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;


}



h2 {
    font-size: 30px;
    margin: 50px;
}

.elave {
    margin-left: 95px;
    border: 1px solid;
    width: 175px;
    border-radius: 5px;


}
.plas{
    background-color: #9953f1 ;
    border-radius: 70px;
    
}
.sekil{
    margin-left: 152px;
    float: right;
    margin-right: 13%;
}
ul{
    list-style: none;
}

.close{
    height: 20px;
    width: 20px;
border-radius: 50%;
border: 1px solid #858282;

}

ul li{
    text-align: center;
    overflow: hidden;
  display: flex;
  box-shadow: 1px 1px 5px aqua;

}
.close{
    margin-top: 8%;
}
.close:hover{
    background-color: #9953f1;
}
.sekil:hover{
    background-color: silver;
}

.sekil1{
    display: none;
    
        margin-left: 152px;
        float: right;
        margin-right: 13%;
    
}